body {

    align-items: center;
    justify-content: center;
}
main {
    box-sizing: content-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;}

    section {
            color: black;
    }
    
    table {
        background-color: white
    }
    border {
        border-width: 1px;
        height: 100px;
    }

    h2 {
        color: white;
    }